* {
    font-family: 'Inter', sans-serif;
}

header {
    background-image: url(image/background.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
}

.navbar {
    z-index: 1000;
    width: 80%;
    left: 10%;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 40px;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

}

.nav-link {
    color: rgb(255, 255, 255);
    z-index: 2;
}

.nav-link:hover {
    color: rgb(205, 196, 63);
}

.jumbotron {
    position: relative;
    z-index: 1;
}

.jumbotron-title {
    margin-top: 150px;
    color: white;
}

.jumbotron-text {
    color: white;
}

.fa-brands {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.section-ab {
    background-image: url(image/yt.png);
    background-size: cover;
    height: 900px;
}

.about-title {
    color: goldenrod;
}

.about-container {
    width: 400px;
}

.section-ab {
    padding-top: 100px;
    background-color: black;
}

.section-sk {
    background-color: rgba(54, 54, 54, 0.667);
}

.poto-yt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 60px;
    position: relative;
}

.label-chanel {
    color: white;
    font-size: 20px;
}

.label-chanel-sub {
    color: rgb(206, 205, 205);
    font-size: 15px;
}

.label-video {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.container-video {
    width: 700px;
    height: 500px;
    padding-bottom: 40px;
}

.embed {
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
}

.poto-profil-ig {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 60px;
    position: relative;
}

.poto-post {
    width: 450px;
    height: 550px;
    left: 10%;
    position: relative;
}